<h3 class="mb-3">Adatrögzítés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
    <!-- alertmessages shows here -->
</div>

<div class="form-floating mb-3">
    <input type="date" class="form-control" id="date" placeholder="" max="">
    <label for="date">Dátum</label>
</div>

<div class="form-floating mb-3">
    <select class="form-select" id="type" aria-label="Floating label select example">
      <option value="Bevétel">Bevétel</option>
      <option value="Kiadás">Kiadás</option>
    </select>
    <label for="floatingSelect">Bevétel / Kiadás</label>
</div>

<div class="form-floating mb-3">
    <input type="number" class="form-control" id="amount" placeholder="" min="0">
    <label for="amount">Összeg</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="tag" placeholder="">
    <label for="tag">Címke</label>
</div>


<button class="btn btn-primary mb-3" onclick="addMoney()">Rögzítés</button>